<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/rooms/main.css">
<title>Rooms</title>


<main class="d-flex m-0 m-auto upper-main">
    <!-- left aside -->
    <%- include("../partials/left_aside", {active: 'rooms'} ) %>

    <!-- right aside -->
    <section class="right-aside d-inline-flex flex-column justify-content-center align-items-center col-9 p-4">
        <!-- <h3 class="text-white display-6 mt-3">Rooms</h3> -->

        <div class="d-flex col-12 justify-content-center flex-wrap mt-3 text-light">

            <% for(let room of rooms){ %> 
                <section class="d-inline-flex justify-content-center col-12 col-md-6 col-lg-3 mt-3">
                    <section class="col-11 block-color p-3 me-2 rounded-3">
                        <h5 class="d-inline-block mb-3"><%= room.name %></h5>
                        <div class="d-flex justify-content-around align-items-center text-center">
                            <!-- <h6 class="d-inline-block display-6 col-9 me-1 lg-base">18&deg;C</h6> -->


                            <% if(room.lights){ %> 
                                <form action="/rooms/<%= room._id %>/all_lights" method="post" class="bi bi-lightbulb-off display-5 d-inline-block col-3"
                                    role="button">
                                    <input class="d-none" value="off" name="state" type="text">
                                    <p class="footer-ele-stat">Turn off lights</p>
                                </form>
                            <% }else{ %> 
                                <form action="/rooms/<%= room._id %>/all_lights" method="post"
                                    class="bi bi-lightbulb display-5 d-inline-block col-3" role="button">
                                    <input class="d-none" value="on" name="state" type="text">
                                    <p class="footer-ele-stat">Turn on lights</p>
                                    
                                </form>
                            <% } %> 


                            <% if(room.outlets){ %> 
                                <form action="/rooms/<%= room._id %>/all_outlets" method="post" class="bi bi-plug display-5 d-inline-block col-3" role="button">
                                    <p class="footer-ele-stat">Disable outlets</p>
                                    <input class="d-none" value="off" name="state" type="text">
                                </form>
                            <% }else{ %> 
                                <form action="/rooms/<%= room._id %>/all_outlets" method="post" class="bi bi-outlet display-5 d-inline-block col-3" role="button">
                                    <p class="footer-ele-stat">Enable outlets</p>
                                    <input class="d-none" value="on" name="state" type="text">
                                </form>
                            <% } %> 


                            <i class="bi bi-people display-5 d-inline-block col-3" role="button">
                                <p class="footer-ele-stat">counter <%= room.ppl_counter %> </p>
                            </i>
                        </div>
                        <a href="/rooms/<%= room._id %>" class="btn btn-primary rounded-pill extra-small-btn mt-2">Full control</a>
                        <!-- <i class="bi bi-thermometer-sun"></i>
                                        <i class="bi bi-thermometer-snow"></i> -->
                    </section>
                </section>
            <% } %> 

            <section class="d-inline-flex justify-content-center col-12 col-md-6 col-lg-3 mt-3">
                <section class="col-11 block-color p-3 me-2 rounded-3 d-inline-flex flex-column justify-content-center align-items-center">
                    <h5 class="d-inline-block mb-3">Add Room</h5>
                    
                    <a href="/rooms/new" role="button" class="text-decoration-none text-light pointer">
                        <i class="bi bi-plus-square-dotted display-1"></i>
                    </a>
                    <!-- <i class="bi bi-thermometer-sun"></i>
                                    <i class="bi bi-thermometer-snow"></i> -->
                </section>
            </section>

        </div>
        
    </section>
</main>

<script src="/js/rooms/room.js"></script>