<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/rooms/main.css">
<title>New Room</title>

<!-- main section -->
<!--p-0 p-xl-3 container-xl-->
<main class="d-flex m-0 m-auto upper-main">
    <%- include("../partials/left_aside", {active: 'rooms' } ) %>

    <!-- right aside -->
    <section class="right-aside flex-column d-inline-flex justify-content-center align-items-center col-9 p-4">
        <!-- <h3 class="text-white display-6 mt-3">Rooms</h3> -->

        <div class="d-flex col-12 justify-content-center flex-wrap mt-3">

            <section class="d-inline-flex justify-content-center col-12 col-md-10 col-lg-8 mt-3 text-light">
                <form action="/rooms" method="post" class="col-11 block-color p-3 me-2 rounded-3">


                    <div class="form-floating mb-3">
                        <input type="text" class="form-control bg-transparent text-light" id="floatingInput" name="room_name">
                        <label for="floatingInput" class="text-light">Room Name</label>
                    </div>
                    
                    <!-- <div class="col-12 d-flex flex-wrap">
                        <div class="col-12 col-lg-6">
                            <div class="form-floating p-0 m-0 mb-3 col-lg-11">
                                <input type="text" class="form-control bg-transparent text-light" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput" class="text-light">Number of light pins</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-floating p-0 m-0 mb-3">
                                <input type="text" class="form-control bg-transparent text-light" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput" class="text-light">Number of outlets pins</label>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-12 d-flex flex-wrap">
                        <% //pins = [3, 5, 7, 8, 10, 11, 12, 13, 15, 16, 18, 19, 21, 22, 23, 24, 26, 29, 31, 32, 33, 35, 36, 37, 38, 40] %> 
                        <% for(let pin of pins){ %> 
                            <div class="col-6 col-md-4 d-inline-flex mb-1">
                                <div class="col-11 <%= pin.availability ? "color-dark" : "bg-secondary"%> rounded-2 p-2">
                                    <div class="lead">
                                        <p class="d-inline-block">Pin <%= pin.pin_num %></p>
                                        <i class='bi bi-gear d-inline-block float-end <%= pin.availability ? "text-primary" : "" %>' 
                                        <%= pin.availability ? `title=configure data-bs-toggle=modal data-bs-target=#pin${pin.pin_num} role=button` : "" %>> </i>
                                    </div>
                                    <div class="color-text">
                                        <label class="form-check-label" for=<%=`pins[pin_${pin.pin_num}][device_type]`%>>
                                            Outlet
                                        </label>
                                        <input class="form-check-input float-end" type="radio" value="outlet" name=<%=`pins[pin_${pin.pin_num}][device_type]`%> <%= pin.availability ? "" : "disabled"%> >
                                        <div>
                                            <label class="form-check-label" for=<%=`pins[pin_${pin.pin_num}][device_type]`%>>
                                                Light
                                            </label>
                                            <input class="form-check-input float-end" type="radio" value="light" name=<%=`pins[pin_${pin.pin_num}][device_type]`%> <%= pin.availability ? "" : "disabled" %>>
                                        </div>

                                        <div>
                                            <label class="form-check-label" for=<%=`pins[pin_${pin.pin_num}]`%>>
                                                Sensor
                                            </label>
                                            <input class="form-check-input float-end" type="radio" value="sensor" name=<%=`pins[pin_${pin.pin_num}][device_type]`%>
                                            <%= pin.availability ? "" : "disabled" %>>
                                        </div>
                                    </div>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="pin<%=pin.pin_num%>" tabindex="-1" aria-labelledby="pin<%=pin.pin_num%>Label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-dark" id="pin<%=pin.pin_num%>">Pin Configuration</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                
                                                <div class="modal-body text-dark">
                                                    <div>
                                                        <label class="form-label" for=<%=`pins[pin_${pin.pin_num}][name]`%>>
                                                            Name
                                                        </label>
                                                        <input class="form-control" type="text" placeholder="sensor name" name=<%=`pins[pin_${pin.pin_num}][name]`%>
                                                        <%= pin.availability ? "" : "disabled" %>>
                                                    </div>

                                                    <label class="mt-3 form-label">
                                                        Configuration
                                                    </label>
                                                    <select class="form-select" name=<%=`pins[pin_${pin.pin_num}][configuration]`%>>
                                                        <option value="light" selected>Light</option>
                                                        <option value="outlet">Outlet</option>
                                                        <option value="ir-in">IR incrementer sensor</option>
                                                        <option value="ir-out">IR decrementer sensor</option>
                                                        <option value="in">Input sensor</option>
                                                    </select>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Configure</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        <% } %> 
                    </div>

                    
                    <button class="btn btn-primary rounded-pill mt-2 float-end">Create New Room</button>
                    <!-- 
                        <div class="d-flex justify-content-around align-items-center text-center">
                            <i class="bi bi-lightbulb display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Turn on lights</p>
                            </i>
                            <i class="bi bi-plug display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Disable outlets</p>
                            </i>
                            <i class="bi bi-people display-5 d-inline-block col-3">
                                <p class="footer-ele-stat">Ppl counter</p>
                            </i>
                        </div>
                    -->
                    <!-- <i class="bi bi-thermometer-sun"></i>
                    <i class="bi bi-thermometer-snow"></i> -->
                </form>
            </section>


        </div>
    </section>
</main>

<script>
    const disable_form_click_submission = true;
</script>