<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/rooms/main.css">
<title>Rooms</title>


<main class="d-flex m-0 m-auto upper-main">
    <!-- left aside -->
    <%- include("./partials/left_aside", {active: 'garage'} ) %>

    <!-- right aside -->
    <section class="right-aside d-inline-flex flex-column justify-content-center align-items-center col-9 p-4">
        <h3 class="text-white display-6 mt-3">Garage</h3>

        <div class="d-flex col-12 justify-content-center flex-wrap mt-3 text-light">

            <section class="d-inline-flex justify-content-center col-12 col-md-6 col-lg-3 mt-3">
                <section class="col-11 block-color p-3 me-2 rounded-3">
                    <h5 class="d-inline-block mb-3">Parking slot</h5>
                    <div id="slot-div" class="d-flex justify-content-around align-items-center text-center">
                        <!-- <h6 class="d-inline-block display-6 col-9 me-1 lg-base">18&deg;C</h6> -->


                        <% if(overview.garage.slot1_availability){ %> 
                            <i class="bi bi-check2-all display-5 d-inline-block" role="button">
                                <p class="footer-ele-stat mt-2">Available slot</p>
                            </i>
                            
                        <% }else{ %> 
                            <i class="bi bi-exclamation-triangle display-5 d-inline-block" role="button" action="/rooms/<%= //room._id %>/pin/<%= //light_pin.pin_num %>" method="post">
                                <p class="footer-ele-stat mt-2">Busy slot</p>
                            </i>
                        <% } %> 
                    </div>
                    <!-- <i class="bi bi-thermometer-sun"></i>
                                    <i class="bi bi-thermometer-snow"></i> -->
                </section>
            </section>



                <section class="d-inline-flex justify-content-center col-12 col-md-6 col-lg-3 mt-3">
                    <section class="col-11 block-color p-3 me-2 rounded-3">
                        <h5 class="d-inline-block mb-3">Garage Gate</h5>
                        <div class="d-flex justify-content-around align-items-center text-center">
                            <% if(overview.garage.servo_angle){ %> 
                                <form class="bi bi-x-circle display-5 d-inline-block" role="button"
                                    action="/garage" method="post">
                                    <p class="footer-ele-stat">Close gate</p>
                                </form>
                            <% }else{ %> 
                                <form class="bi bi-arrow-bar-up display-5 d-inline-block" role="button"
                                    action="/garage/" method="post">
                                    <p class="footer-ele-stat">Open Gate</p>
                                </form>
                            <% } %> 

                        </div>
                        <!-- <i class="bi bi-thermometer-sun"></i>
                                        <i class="bi bi-thermometer-snow"></i> -->
                    </section>
                </section>
            <% //} %> 



        </div>
        
    </section>
</main>

<script src="/js/rooms/room.js"></script>
<script>
    const slot_div = document.getElementById("slot-div")
    function update_slot(data){
        if(data.slots[0].slot1){
            slot_div.innerHTML = `
            <i class="bi bi-check2-all display-5 d-inline-block" role="button">
                <p class="footer-ele-stat mt-2">Available slot</p>
            </i>`
        }
        else{
            slot_div.innerHTML = 
            `<i class="bi bi-exclamation-triangle display-5 d-inline-block" role="button" action="/rooms/<%= //room._id %>/pin/<%= //light_pin.pin_num %>" method="post">
                <p class="footer-ele-stat mt-2">Busy slot</p>
            </i>`
        }
    }
    setInterval(()=>{
        fetch("/garage/slots")
        .then(data => data.json())
        .then(data => update_slot(data))
    }, 500);
</script>